.topnav {
	color: black;
	display: inline-block;
	justify-content: flex;
}
.topnav a {
	color: black;
	justify-content: right;
}
.img {
	justify-content: center;
	border-radius: 50%;
}

.button {
	border-radius: 50%;
}